@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-foreground;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: hsl(228 24% 6%);
}
::-webkit-scrollbar-thumb {
  background: hsl(226 18% 25%);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: hsl(226 18% 35%);
}
